.item_2 {
    align-self: flex-start;
}
.item_3{
    align-self: flex-end;
}
.conterner {
  width: 900px;
  height: 400px;
  border: 2px #8e7c7c solid;
  margin: 10px auto;
  border-radius: 10px;
}
.ChinaElement {
  width: 100%;
  border: 2px red solid;
  height: 300px;
  border-radius: 10px;
  display: flex;
}

.toby {
  padding: 20px 15px;
  color: rgb(136, 136, 56);
  width: 298px;
  background: sandybrown;
  border: 2px solid rgb(53, 49, 49);
  border-radius: 10px;
}
