.item_2 {
    align-self: flex-start;
}
.item_3{
    align-self: flex-end;
}
.conterner {
  width: 900px;
  height: 400px;
  border: 2px #8e7c7c solid;
  margin: 30px auto;
  border-radius: 10px;
}
.ChinaElement {
  width: 100%;
  border: 2px rgb(236, 98, 6) solid;
  height: 300px;
  border-radius: 10px;
  display: flex;
  background: rgb(255, 244, 229);
}

.toby {
  font-weight: 700;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 15px;
  color: rgb(217, 77, 22);
  width: 298px;
  background: rgb(255, 215, 168);
  border: 3px solid rgb(241, 159, 72);
  border-radius: 10px;
}
